#background {
    background-color: lightblue;
}

#Vytas-Jankauskas {
    display: flex;
}

#VytasPFP {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

#VytasGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.GalleryImage {
    width: 200px;
    height: 200px;
    margin: 0 0 20px 0;
}

#Leon-Eckert {
    display: flex;
}

#LeonPFP {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 20px 0 0;
}
